<div id="feedcontainer">
  <div id="touchloader" style="text-align: center;display: none; background: black;color: white;">Loading.....</div>

<div ng-repeat="singlePost in feedposts"  class="left-panel row post" id="{{singlePost.id}}" on-ng-repeat-done>

  <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <section class="post-heading">
            <div class="row">
              <div class="col-md-11">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&amp;d=mm&amp;r=g" width="40" height="40" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                    <a href="#" class="anchor-time">51 mins</a>
                  </div>
                </div>
              </div>

            </div>
          </section>

          <div class="commentContainer">
            <div class="thumbnail">
              <div class="radial-progress" data-progress="0">
                <div class="circle">
                  <div class="mask full">
                    <div class="fill"></div>
                  </div>
                  <div class="mask half">
                    <div class="fill"></div>
                    <div class="fill fix"></div>
                  </div>
                </div>
                <div class="inset">
                  <div class="percentage">
                  </div>
                </div>
              </div>
            </div>

            <div class="icerik-bilgi">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum eget nunc quis semper. Nunc pellentesque nec libero sed viverra. Donec turpis velit, suscipit sit amet mauris quis, viverra ornare massa. Morbi tellus eros, fringilla eu sodales id, ultricies ut sapien. Duis et tristique enim, vitae mattis neque. Aliquam efficitur, dui id laoreet blandit, lorem […]</p>
              <section class="post-footer">
                <hr>
                <div class="post-footer-option container">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                  </ul>
                </div>

              </section>

              <div class="widget">

                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-lg-12">
                          <a href="#">Bhaumik Patel</a>: <span class="comment-text"> Lol que apero</span>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-lg-12">
                          <a href="#">Bhaumik Patel</a>: <span class="comment-text"> Orgullosa de la gesta de nuestros héroes patrios, de nacer en esta hermosa isla y llevar en alto nuestra bandera tricolor... Que viva nuestra República Dominicana, Libre, Soberana e Independiente. </span>
                        </div>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-lg-12">
                          <a href="#">Bhaumik Patel</a>: <span class="comment-text"> Lol que apero</span>
                        </div>
                      </div>
                    </li>

                  </ul>
                  <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>




